/* MCLogParser Colors */
.c {color:#ccc;text-shadow:1px 1px 0 #3f3f3f;}
.c0{color:#000;text-shadow:1px 1px 0 #000;}
.c1{color:#00a;text-shadow:1px 1px 0 #00002a;}
.c2{color:#0a0;text-shadow:1px 1px 0 #002a00;}
.c3{color:#0aa;text-shadow:1px 1px 0 #002a2a;}
.c4{color:#a00;text-shadow:1px 1px 0 #2a0000;}
.c5{color:#a0a;text-shadow:1px 1px 0 #2a002a;}
.c6{color:#fa0;text-shadow:1px 1px 0 #2a2a00;}
.c7{color:#aaa;text-shadow:1px 1px 0 #2a2a2a;}
.c8{color:#555;text-shadow:1px 1px 0 #151515;}
.c9{color:#55f;text-shadow:1px 1px 0 #15153f;}
.ca{color:#5f5;text-shadow:1px 1px 0 #153f15;}
.cb{color:#5ff;text-shadow:1px 1px 0 #153f3f;}
.cc{color:#f55;text-shadow:1px 1px 0 #3f1515;}
.cd{color:#f5f;text-shadow:1px 1px 0 #3f153f;}
.ce{color:#ff5;text-shadow:1px 1px 0 #3f3f15;}
.cf{color:#fff;text-shadow:1px 1px 0 #3f3f3f;}